[defaults]
roles_path = ./roles
inventory = ./inventory/production/hosts
retry_files_enabled = False
host_key_checking = False
stdout_callback = yaml
private_key_file = ~/.ssh/id_rsa
remote_user = s23150618

[ssh_connection]
pipelining = True
